<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link" routerLink="./products" routerLinkActive="active text-danger">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./offers" routerLinkActive="active text-danger">Offers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./orders" routerLinkActive="active text-danger">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./profile" routerLinkActive="active text-danger">Profile</a>
  </li>
</ul>

<router-outlet></router-outlet>

