<div class="row mb-4">
  <div class="col">
    <div class="d-flex justify-content-between">
      <h3 class="mb-0">Private dashboard</h3>
      <h5 class="mb-0" *ngIf="me && me._id">Hello, {{me?.fullName || me?.email}}!</h5>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <div class="mb-2" *ngIf="!productFormState">
      <button class="btn btn-sm btn-primary" (click)="toggleProductForm()">Add new product</button>
    </div>

    <form #productForm="ngForm"
          *ngIf="productFormState"
          class="border rounded p-3 mb-4 bg-light"
          (ngSubmit)="addProduct(productForm)">
      <h5 class="mb-3 text-center">Add new product</h5>
      <div class="form-group mb-2 row justify-content-center">
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-6 input-group">
          <input class="form-control" name="title" ngModel
                 placeholder="Title"
                 autocomplete="off"
                 required title (change)="resetError()" />
        </div>
      </div>
      <div class="form-group mb-2 row justify-content-center">
        <label class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-6 input-group">
          <input class="form-control" name="price" ngModel
                 placeholder="Price"
                 type="number"
                 min="0"
                 autocomplete="off"
                 required price (change)="resetError()" />
          <div class="input-group-addon">$</div>
        </div>
      </div>
      <div class="form-group pt-2 mb-0 text-center">
        <button type="submit" class="btn btn-sm btn-success">Add Product</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="cancel(productForm)">Cancel</button>
      </div>
      <div class="bg-danger text-white px-3 py-2" *ngIf="error && error?.code && error?.message">
        <h4>{{error?.code}}</h4>
        <p>{{error?.message}}</p>
      </div>
    </form>

    <h5>My products:</h5>

    <ul class="list-group" *ngIf="(products$ | async)?.length">
      <li class="list-group-item small py-2 px-4"
          *ngFor="let product of products$ | async">
        <h6 class="mb-0 text-primary">{{product?.payload?.val().title}}</h6>
        <div>{{product?.payload?.val().price}}</div>
      </li>
    </ul>

    <p class="text-muted small text-center py-1 px-2 border rounded"
        *ngIf="!(products$ | async)?.length">No products yet</p>
  </div>
</div>

<div class="row mb-4" *ngIf="(users$ | async)?.length">
  <div class="col">
    <h5>Users:</h5>
    <ul class="list-group">
      <li class="list-group-item small py-2 px-4"
          *ngFor="let user of users$ | async | without: me">
        <h6 class="mb-0 text-info">{{user?.payload?.val().fullName}}</h6>
        <div>{{user?.payload?.val().email}}</div>
      </li>
    </ul>
  </div>
</div>

